$font-roboto-regular: 'Roboto-Regular';
$font-roboto-bold: 'Roboto-Bold';
$font-roboto-medium: 'Roboto-Medium';
$font-roboto-black: 'Roboto-Black';
$font-roboto-light: 'Roboto-Light';
$font-icons: 'ws-icons-font';

$s-8: 8px;
$s-16: $s-8 * 2;
$s-24: $s-8 * 3;
$s-32: $s-8 * 4;
$s-40: $s-8 * 5;
$s-48: $s-8 * 6;
$s-56: $s-8 * 7;
$s-64: $s-8 * 8;
$s-72: $s-8 * 9;
$s-80: $s-8 * 10;
$s-88: $s-8 * 11;
$s-96: $s-8 * 12;
$s-128: $s-8 * 16;

$z-index-0: 0;
$z-index-m-1: -1;
$z-index-p-1: 1;

$color-black: #000000;
$color-white: #ffffff;

$transition: ease-in 0.3s;
