@font-face {
  font-family: 'ws-icons-font';
  src:
    url('fonts/ws-icons-font.ttf?i6hjuv') format('truetype'),
    url('fonts/ws-icons-font.woff?i6hjuv') format('woff'),
    url('fonts/ws-icons-font.svg?i6hjuv#ws-icons-font') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="ic-"], [class*=" ic-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'ws-icons-font' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.ic-cloud:before {
  content: "\e900";
}
.ic-pause:before {
  content: "\e901";
}
.ic-rain:before {
  content: "\e902";
}
.ic-sun:before {
  content: "\e903";
}
